

/*fonts härunder*/
.caveat {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  .caveat-brush-regular {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }  

  .libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }


/*hela header sektionen- Stora BG bilden*/

body{
  font-family:"libre baskerville", "serif";
  font-style:normal;
  margin:0;
}

.header{
    background-image: url("./img/bg\ black\ and\ white.JPG");
    background-size:cover;
    height:100vh;
    width:100%;
}


/*Containern för abt-me samt navbaren*/
.container{
    height:100vh;
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows:1fr;
    gap:0px;
}


.abt-me{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}


h1{
    font-family:"caveat brush","san-serif";
    font-size:3rem;
    font-weight:500;
    margin:0;
    padding:10px;
}

.descript{
  font-family:"libre baskerville", "serif";
  text-decoration:none;
  margin:0;
}



.cv-pic {
    height:300px;
    border-radius:50%;
    border:solid black 3px;
    margin:0;
    padding:0;
}

/*all styling för knappen*/
.button{
  background-color:#f3ad58;
  color: #000;
  padding:15px 0px;
  border-radius: 20px;
  text-decoration: none;
  font-family:"libre baskerville";
  transition-duration: 0.1s;
  margin: 0% 15%; 
}

.linkedin {
  font-weight:600;
  font-size: 1.5rem;
  text-align: center;
  font-family:"caveat", "sans-serif";
}

.button:hover {
letter-spacing:0.2rem;
  }


  @media screen and (max-width: 480px){
    .button hide-class{
      display:none; 
    } 
  }


  /*sid-navigationen*/
.navbar{
    display:flex;
    justify-content:center;
    background-color: #323a30;
    height:100vh;
    width:auto;
}

  /*sätt in riktlinjer för navbar storlek i mindre skärm härunder
: --- 
*/

  .mainmenu, .submenu {
    display:flex;
    flex-direction:column;
    align-self:center;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size:1.5rem;
    text-transform:uppercase;
  }
  
  .mainmenu a, .mainmenu label {
    display: block;
    background-color: #323a30;
    text-decoration: none;
    padding: 10px;
    color: #fff;
    text-align:center;

  }
  

  .mainmenu a:hover {
      background-color: #323a30;
      color:#f3ad58;
  }
  
  /*eventuellt se över border-radius här och på submenyn*/
  .mainmenu label:hover{
    background-color:#f3ad58;
    color:black;
    border-radius: 3px; 
  }
  
  /* hide the input */
  .mainmenu input {
    display: none;
  }
  
  /* if a sibling checkbox is check show the menu */
  .mainmenu input:checked ~ .submenu {
    display: block;
    max-height: 200px;
  }
  
  .submenu a, .submenu label {
    background-color: #f3ad58;
    color:#000;
  }
  
  .submenu a:hover {
    background-color: #f3ad58;
    color:#000;
  }
  
  .submenu {
      overflow: hidden;
      max-height: 0;
      transition: all 0.5s ease-out;
      border-radius:3px;
    }
  
  
    .submenu a {
      position: relative;
      color: #000;
      text-decoration: none;
    }
    
  /*nedan är koden för animerade underlinen på länkarna i naven!*/
    .submenu a::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #000;
      transform: scaleX(0);
      transform-origin: top left;
      transition: transform 0.3s ease;
    }
    

    a:hover::before {
      transform: scaleX(1);
    }

    /*styling för merits... här vill jag ha "bars" som visar hur mkt kunskap jag har ang saker ex : html --- etc*/
.merits{
    display:flex;
}

.merits, h2{
    text-transform:uppercase;
}


.merits img{
    height:200px;
  }




  /*Webdesign-sidan*/

.portfolio {
  display:grid;
  background-color: grey;
  height:100vh;
}

.portfolio box{
  background-color:#f3ad58;
  height: 200px;
  width:200px;
}


/* navbar för övriga sidor!!!! fortsätt hääär. 

.... döp den till navbar-page..


*/



    /*styling för footern*/

    #footer {
        background-color: #323a30;
        padding: 50px 100px;
      }
      
      .contact{
        display:flex;
        justify-content:center;
        color:white;
        letter-spacing:0.2rem;
      }
      
      .links {
        display:flex;
        justify-content:space-evenly;
        gap:20px;
      }


    #copyright {
      color:white;
    }

